* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

A {
  text-decoration: none;
  color: inherit;
}

.header {
  height: 326px;
  background-color: #445162;
  text-align: center;
  color: #fcfafa;
  padding-top: 40px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.header__name {
  font-size: 36px;
  line-height: 24px;
  font-weight: 700;
  filter: drop-shadow(2.5px 4.33px 2.5px rgba(0, 0, 0, 0.08));
  margin-bottom: 23px;
}

.header__title {
  font-size: 18px;
  line-height: 24px;
  color: #fcfafa;
  font-weight: 500;
}

.content {
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 30px;
}

.footer {
  height: 261px;
  background-color: #445162;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 140px;
  box-sizing: border-box;
}

.address__title {
  font-size: 30px;
  line-height: 36px;
  margin-left: -40px;
}

.copyright {
  font-size: 12px;
  text-align: center;
}

.article {
  height: auto;
  background-color: #fafbfc;
  margin-bottom: 33px;
  padding-bottom: 24px;
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 24px;
  filter: drop-shadow(1.5px 2.598px 3.5px rgba(0, 0, 0, 0.14));
}

.article__title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  margin-left: -84px;
}

.article__text {
  padding-top: 55px;
  padding-bottom: 55px;
  font-size: 16px;
  line-height: 23px;
  color: black;
  text-align: justify;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.ul {
  list-style-image: url(../02/img/checkicon.png);
}

.github {
  background: url(../02/img/githubicon.png) no-repeat 0 5px;
  padding-left: 28px;
  padding-bottom: 20px;
  margin-left: 130px;
  font-size: 16px;
}

.mail {
  background: url(../02/img/mailicon.png) no-repeat 0 8px;

  padding-left: 28px;
  padding-bottom: 20px;
  margin-left: 130px;
  font-size: 16px;
}

.telephone {
  background: url(../02/img/phoneicon.png) no-repeat 0 4px;
  padding-left: 28px;
  padding-bottom: 20px;
  margin-left: 130px;
  font-size: 16px;
}