* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
}

h4 {
    font-size: 28px;
}

ol, ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

p {
    margin: 0;
}

.slider ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    border-top: grey solid 1px;
    border-bottom: grey solid 1px;
    border-right: grey solid 1px;
}

.tile__inner {
    display: flex;
    flex-direction: column;

}

.tile__title {

    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.tile__inner a {
    width: 154px;

    margin-bottom: 8px;
}

.tile__picture {
    flex-grow: 2;
    height: 170px;

    margin-bottom: 16px;

    position: relative;
}

.tile__picture img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    right: 0;
    margin: auto;
    width: 154px;
}

.tile__rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tile__reviews-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    margin-left: 8px;
    white-space:nowrap;
}

.tile__product-stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 16px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.wish-button {
    position: absolute;
    top: 8px;
    right: 3px;
}

.compare-button {
    position: absolute;
    top: 35px;
    right: 3px;
}

.tile__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 24px;

}

.tile__label {
    position: absolute;
    top: 8px;
    height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    line-height: 24px;
    display: inline-block;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.new{
    background-color: #712bd4;
}
.sales{
    background-color: #f84147;
}

.tile__availability {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    font-size: 12px;
    color: #00a046;
}
.sale{
    color: #f84147;
}

.tile__old-price {
    position: relative;
    height: 18px;
    font-size: 14px;
    text-decoration: line-through;
    color: #797878;
}

.tile__prices {
    display: flex;
    flex-direction: column;
}

.wish-button svg {
    vertical-align: middle;
    stroke: #fcc10a;
    stroke-width: 2px;
    fill: #fff;
}

.compare-button svg {
    vertical-align: middle;
    fill: #a6a5a5;
}

.product-stars__item svg {
    height: 10px;
}

.buy-button svg {
    fill: #00a046;
}